<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Hatimeria CMF{% endblock %}</title>
        {% render "HatimeriaExtJSBundle:Default:headers" %}
        {% render "HatimeriaAdminBundle:Default:defaultHeaders" %}
        {% block head %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('/bundles/hatimeriaadmin/images/hatimeria.ico') }}" />
    </head>
    <body id="hatimeria-admin-body">
        <div id="body"></div>
        {% block body %}{% endblock %}
        {% block fos_user_content %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% render "HatimeriaExtJSBundle:Default:variables" %}
    </body>
</html>
