<title>{% block title %}{{ title }}{% endblock %}</title>
{% include 'HatimeriaAdminBundle:Default:css_headers.html.twig' with {'layout': 'hatimeria'} %}
{% include 'HatimeriaAdminBundle:Default:headers.html.twig' %}