/* 
    Document   : ext-custom
    Created on : 2011-11-25, 16:39:20
    Author     : developer
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body#hatimeria-admin-body {
    background: url('/bundles/hatimeriaadmin/images/body.gif') fixed 230px top no-repeat;
    background-color: #F0F0F0;
}

#app-content-panel .x-panel-header-text-default{
    color: #666;
    font-size: 16px;
    text-shadow: none;
}

#app-content-panel > .x-panel-default > .x-panel-header-default .x-panel-header-text-default {
    font-size: 25px
}

#app-content-panel > .x-panel-default > .x-panel-header-default {
    background: transparent;
    line-height: 18px;
}

#app-content-panel .x-panel-header {
    background: transparent;
    padding: 5px 4px 10px 0px;
}

#app-content-panel > .x-panel-default .x-panel-header-default-top {
    box-shadow: none;
}

#app-content-panel .x-toolbar-docked-top {
    height: 60px;
    background: transparent;
    border: 0;
}

#app-content-panel .x-toolbar-docked-top .x-btn{
    height: 45px;
}

#app-content-panel .x-toolbar-docked-top button{
    height: 45px;
}

#app-content-panel .x-toolbar-docked-top .x-btn .icon-add {
    background: url('/bundles/hatimeriaadmin/images/icon/add.png') center center no-repeat;
}

#app-content-panel .x-toolbar-docked-top .x-btn .x-btn-icon{
    height: inherit;
    width: 36px;
}

#app-content-panel .x-toolbar-docked-top .x-btn-inner {
    height: inherit;
    font-size: 14px;
    line-height: 40px;
    padding-left: 40px;
}

#categories .x-grid-row .x-grid-cell {
    padding: 0px;
}

.hatimeria-main-menu .x-grid-row .x-grid-cell-inner{
    height: 35px;
    font-size: 15px;
    font-weight: normal;
}
.hatimeria-main-menu .x-grid-row .x-grid-cell{
    padding: 0px;
    padding-left: 15px;
    background: #78B233;
    color: white;
    margin: 0 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.hatimeria-main-menu .x-grid-row-selected {
    background: transparent !important;
}

.hatimeria-main-menu .x-grid-row.x-grid-row-selected .x-grid-cell{
    background: url(/bundles/hatimeriaadmin/images/menu-item-current.gif) no-repeat !important;
    color: #333;
}
.hatimeria-main-menu .x-grid-row{
    height: 45px;
    background: url(/bundles/hatimeriaadmin/images/menu-item.gif) no-repeat;
}

.hatimeria-main-menu .x-grid-row .x-grid-cell {
    background: transparent;
}

.hatimeria-main-menu{
    background-image: url(/bundles/hatimeriaadmin/images/bg-sidebar.jpg)
}

.hatimeria-main-menu .x-grid-cell-inner {
    padding: 9px;
}
.x-grid-header-ct span{
    font-weight: bold;
}

.x-grid-row .x-grid-cell{
    padding: 5px;
}

.x-column-header-inner {
    color: #333;
    padding: 5px;
    font-size: 14px;
}
.hatimeria-main-menu #logo{
    line-height: 20px;
}
.hatimeria-main-menu #logo a{
    color: #4CA241;
}
.x-tree-icon-leaf, .x-tree-icon-parent, .x-grid-tree-node-expanded .x-tree-icon-parent{
    background: none;
}
.x-panel-header-text-default{
    text-shadow: 0 1px 0 #919191;
}
.x-grid-row .x-grid-row-selected{
    font-size: 8px;
}
.x-grid-row.x-grid-row-selected .x-grid-cell{
    color: white;
}
.x-unselectable {
    font-size: 12px;
}
.x-window-header-text-default {
    text-shadow: 1px 1px gray;
}
#hatimeria-powered-by img, #hatimeria-powered-by p{
    float: left;
    padding: 0 5px;
}
#hatimeria-powered-by a{
    color: #4CA241;
}
.x-message-box .x-window-body{
    text-align: center;
    font-weight: bold;
    color: gray;
    padding: 10px;
    background-color: white;
}
.x-tree-panel .x-grid-row .x-grid-cell-inner img.x-tree-icon{
    display: none;
}

.ux-errors {
    background: url("../images/form/exclamation.gif") no-repeat scroll 2px 3px transparent;
    height: 18px;
    width: 18px;
    float: right;
}

.ux-errors * {
    display: none;
}

.x-toolbar-footer {
    background: #F5F4EA;
    margin-top: 0px;
    padding-top: 3px;
}

.x-form-invalid-field, textarea.x-form-invalid-field {
    background-image: none;
}

.x-form-invalid table.mceLayout {
    border: 1px solid red !important;
}

.actions-show-column {
    text-decoration: underline;
    color: #78B233;
}
.actions-show-column div{
    cursor: pointer;
}
